.filter-button {
  font-size: 14px;
  color: #484848;
  padding: 6px 12px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #dce0e0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 10px;
  margin-right: 2px;
  box-sizing: border-box;
  font-weight: 300;
  z-index: 0;
}

.listing-page .header-bar {
  position: fixed;
  background-color: #ffffff;
}

.filter-buttons {
  padding-left: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
  position: fixed;
  margin-top: 80px;
  width: 100%;
  background-color: #ffffff;
  display: inline-block;
  z-index: 10;
}

.list-map {
  display: flex;
}

.listing-boxes {
  width: 66vw;
  padding: 0 24px;
  padding-top: 0px;
  margin-top: 132px;
  padding-right: 400px;
}

.search-map {
  margin-top: 132px;
  /* width: 426px;; */
  width: 34vw;
  position: fixed;
  right: 0;
}

.list-box {
  box-sizing: border-box;
  height: 228px;
  list-style: none;
  padding: 0px 2px 0px;
  /* width: 790px; */
  width: 61.5vw;
  border-bottom: 1px solid #dce0e0;
  margin-bottom: 22px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

#map-container {
  box-sizing: border-box;
  /* width: 100%; */
  height: 100vh;
}

.list-box-text {
  margin: 0;
  padding: 0;
}

.listings-list {
  padding: 0;
}

.list-location, .list-details {
  font-size: 14px;
  /* margin-top: 32px; */
  font-weight: 300;
  color: #919191;
}

.list-home-type, .list-title {
  margin: 4px 0;
  font-size: 18px;
  color: #222222;
  font-weight: 300;
}

.list-price-div {
  display: flex;
}

.list-price {
  margin-top: 54px;
  font-size: 18px;
  font-weight: 600;
}

.list-price-text {
  margin-top: 54px;
  margin-left: 7px;
  font-size: 18px;
  font-weight: 200;
}

.photo-container {
  border-radius: 4px;
  margin-top: 10px;
  height: 200px;
  width: 300px;
}

.listing-photo {
  height: 200px;
  width: 300px;
  border-radius: 4px;
}

.listing-page {
  position: relative;
}