.listing-show > .header-bar {
  display: flex;
  height: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
}

.listing-show .logout-button, .listing-show .login-signup {
  margin-left: auto;
  padding-right: 10px;
}

.listing-show .logout-button, .listing-show .login-signup > button {
  border: none;
  background: none;
  height: 100%;
  font-size: 14px;
  color: #484848;
  padding-left: 10px;
  padding-right: 15px;
  font-weight: 500;
}

.listing-show .logout-button:hover, .listing-show .login-signup > button:hover {
  border-bottom: 2px solid #484848;
  cursor: pointer;
}

.header-link {
  height: 100%;
  width: 80px;
}

.listing-show .logo {
  height: 34px;
  width: 38px;
  display: block;
  margin: 26px;
  margin-left: 25px;
}

.search-bar {
  background-color: #ffffff;
  color: #484848;
  border: 1px solid #EBEBEB;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 48px;
  width: 460px;
  box-sizing: border-box;
  outline: none;
  margin: 16px;
  font-size: 17px;
  font-weight: 600;
  padding-left: 50px;
  margin-left: 0px;
}

.search-bar:hover {
  transition: box-shadow 200ms ease-in;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.1);
}

.search-bar::placeholder {
  color: #484848;
}

.show-information {
  margin-top: 50px;
  margin-left: 119px;
  padding-top: 30px;
  color: #484848;
  border-bottom: 1px solid #e4e4e4;
  width: 602px;
  padding-bottom: 30px;
}

.show-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}

.show-location {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  margin-top: 5px;
}

.show-home-type {
  margin: 0;
  margin-top: 22px;
  margin-left: 25px;
  font-size: 16px;
  font-weight: 400;
}

.show-guests {
  margin: 0;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 25px;
  font-weight: 300;
  
}

.show-description-container {
  margin-left: 119px;
  width: 602px;
  min-height: 275px;
  border-bottom: 1px solid #e4e4e4;
}

.show-description {
  margin: 0;
  margin-top: 44px;
  /* margin-left: 119px; */
  font-size: 16px;
  font-weight: 300;
  color: #484848;
}

.show-map-container {
  margin-left: 119px;
  margin-top: 30px;
  width: 600px;
  min-height: 400px;
  padding-bottom: 60px;
  padding-top: 20px;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  margin-bottom: 30px;
}

.show-body {
  display: flex;
  justify-content: space-around;
}

.map-text {
  color: #484848;
  font-size: 16px;
  margin-top: 10px;
}

.show-map {
  height: 350px;
}

.box-price {
  font-size: 22px;
  font-weight: 700;
  display: inline;
}

.box-per-night {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  margin-left: 6px;
  display: inline;
}

.box-text {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
}

.box-check-in-dates, .box-check-out-dates {
  margin-top: 0;
  height: 44px;
  /* width: 162px; */
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
  color: #484848;
}

.box-check-out-dates {
  width: 202px;
  border-style: none;
  border: 1px solid #EBEBEB;
  border-left: none;
}

.box-check-in-dates {
  width: 122px;
  border-style: none;
  border: 1px solid #EBEBEB;
  border-right: none;
}

.box-dropdown {
  height: 44px;
  width: 325px;
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
}

.box-submit {
  padding: 10px 22px;
  background-color: rgb(255, 90, 95);
  border-radius: 4px;
  font-weight: 700;
  width: 326px;
  font-size: 16px;
  color: #ffffff;
  margin-top: 25px;
  cursor: pointer;
}

.box-bottom-text {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.right-side {
  height: 355px;
  width: 375px;
  border: 1px solid #e4e4e4;
  color: #484848;
  padding: 25px;
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 110px;
  position: sticky;
  top: 100px;
}


.all-photos {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.first-photo {
  width: 50vw;
  height: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  object-fit: cover;
  border: 1px solid #484848;
  box-sizing: border-box;
  transition: transform .2s ease;
}

.small-show-photos {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  object-fit: cover;
  border: 1px solid #484848;
  transition: transform .2s ease;
}

.listing-show .photo-container {
  display: flex;
  width: 100%;
  border-radius: 0px;
  margin-top: 0px;
  height: 45vh;
  overflow: hidden;
}

.small-show-photos:hover, .first-photo:hover {
  transform:scale(1.03);
}

.show-calendar-container {
  margin-left: 95px;
  margin-top: 30px;
  width: 616px;
  min-height: 315px;
  padding: 0;
}

.calendar-title {
  color: #484848;
  font-size: 16px;
  font-weight: 700;
  margin-left: 26px;
}

.calendar-text {
  font-size: 16px;
  font-weight: 300;
  color: #484848;
  margin-left: 26px;
}

.first-photo-container {
  overflow: hidden;
}


.small-photo-ind-container {
  overflow: hidden;
  height: 50%;
  width: 50%
}

.gray-photo {
  transition-duration: .5s;
  transition-property: filter;
  filter: brightness(70%);
}

.amen-icon {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.amenities-container {
  margin-left: 119px;
  display: flex;
  flex-wrap: wrap;
  width: 604px;
  border-bottom: 1px solid #e4e4e4;
  padding: 0;
}

.amenities {
  display: flex;
  flex-wrap: wrap;
}

.text-plus-icon {
  display: flex;
  width: 250px;
  margin-bottom: 20px;
}

.icon-text {
  margin: 0;
  margin-left: 8px;
  margin-top: 2px;
  font-size: 16px;
  color: #484848;
  font-weight: 300;
}

.amenities-header {
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 700;
  color: #484848;
  display: block;
}

.reviews-container {
  margin-left: 119px;
  width: 604px;
  min-height: 400px;
  border-top: 1px solid #e4e4e4;
  margin-top: 40px;
  padding: 15px 0;
}

.reviews-header {
  display: flex;
}

.reviews-search {
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  color: #484848;
  font-weight: 500;
  padding: 6px 7px;
  padding-left: 40px;
  border-radius: 4px;
  width: 188px;
  height: 36px;
}



.reviews-container h2 {
  font-size: 24px;
  font-weight: 700;
  color: #484848;
  padding-bottom: 50px;
  width: 302px;
  
}

.reviews {
  width: 100%;
  border-top: 1px solid #e4e4e4;
}

.review-search-container {
  width: 302px;
  padding-left: 227px;
  padding-top: 65px;
}

#remove-guest, #add-guest {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 10px;
  
  cursor: pointer;
}

#remove-guest {
  margin-left: 125px;
  margin-right: 25px;
}

.remove-guest-light{
  border: 1px solid #b7dadb;
  color: #b7dadb;
}

.remove-guest-outline {
  border: 1px solid rgb(0, 132, 137);
  color: rgb(0, 132, 137);
}

#add-guest {
  margin-left: 25px;
  border: 1px solid rgb(0, 132, 137);
  color: rgb(0, 132, 137);
}

.max-guest-text {
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  font-weight: 300;
}

.guest-dropdown:focus {
  border-bottom: 2px solid #007a87;
}

.hide-guest {
  display: none;
  position: absolute;
}

.host-container {
  min-height: 300px;
  width: 302px;
  margin-left: 119px;
  border-top: 1px solid #e4e4e4;
  color: #484848;
}

.host-container h2 {
  font-size: 24px;
  font-weight: 700;
}

.host-container p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
}

.show-map-container h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  color: #484848;
}

#guest-dropdown {
  border-style: none;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  padding: 8px;
  border-color: rgb(235, 235, 235);
  width: 298px;
  height: 22px;
  font-size: 17px;
  color: rgb(72, 72, 72);
  padding-left: 15px;
  margin-bottom: 55px;
}

.guest-text-box-text {
  position: absolute;
  font-size: 17px;
  color: rgb(72, 72, 72);
  margin: 0;
  top: 37px;
  left: 30px;
}

.guest-dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
}



.guest-dropdown-content{
  display: none;
  box-sizing: border-box;
  z-index: 10;
  position: absolute;
  height: 300px;
  width: 323px;
  background-color: white;
  top: 165px;
  height: 150px;
  border-radius: 3px;
  box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  padding: 16px;
  font-size: 16px;
  font-weight: 500; 
}

.guest-dropdown-show {
  display: block;
  display: flex;
}


