.header-bar {
  background-color: #6ed3cf
;
  display: flex;
  height: 80px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
}

.login-signup {
  margin-left: auto;
}

.login-signup > button {
  border: none;
  background: none;
  height: 100%;
  font-size: 14px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.login-signup > button:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.header-link {
  height: 100%;
  width: 80px;
}

img {
  height: 34px;
  width: 34px;
  display: block;
  margin: 23px;
}