.search-form {
  height: 475px;
  width: 441px;
  margin-left: 155px;
  margin-top: 40px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.search-container {
  background: #ffffff;
  border-radius: 4px;
  padding: 32px;
  padding-bottom: 24px;
  height: 100%;
  width: 100%;
  box-shadow: 0 16px 40px rgba(0,0,0,0.12);
  box-sizing: border-box;
}

.search-container > h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.search-container > p {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
  display: flex;
}

.search-container > .checks {
  display: flex;
  font-size: 12px;
  font-weight: 700;
}

.search-container > .checks > p {
  width: 188.5px;
}

.splash-guest {
  box-sizing: border-box;
  width: 376px;
  height: 50px;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid #EBEBEB;
  color: #EBEBEB;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
}



.splash-input-text {
  width: 350px;
  height: 50px;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid #EBEBEB;
  color: #484848;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
}

.splash-cal-container {
  display: flex;
}

.splash-input-text-cal {
  box-sizing: border-box;
  width: 188px;
  height: 50px;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid #EBEBEB;
  color: #EBEBEB;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
}

.splash-input-text:focus, .splash-input-text-cal:focus, .splash-guest:focus {
  outline: none;
  box-shadow: 0 0 0 1px #007a87; 
}

.search-button {
  color: white;
  background-color: rgb(255, 90, 95);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  min-width: 71.1935px;
  height: 48px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 22px;
  padding-left: 22px;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: background, border-color, color;
  transition-duration: .2s;
  margin-top: 25px;
  margin-left: 275px;
}

.landing {
  min-height: 900;
  position: relative;
}

.form-box {
  position: relative;
  display: inline-block;
}

.show-cal-splash {
  display: block;
  visibility: visible;
  z-index: 1;
  position: absolute;
  top: 245px;
  left: 33px;
  width: 326px;
  background-color: white;
} 

.hide-cal-splash {
  display: block;
  visibility: hidden;
  position: absolute;
}

.guest-dropdown-container-splash {
  position: relative;
  display: inline-block;
  width: 100%;
}

.guest-dropdown-content-splash {
  display: none;
  box-sizing: border-box;
  z-index: 10;
  position: absolute;
  height: 300px;
  width: 373px;
  background-color: white;
  top: 330px;
  left: 33px;
  height: 103px;
  border-radius: 3px;
  box-shadow:rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 29px;
}

.guest-dropdown-show-splash {
  display: block;
  display: flex;
}

#guest-dropdown-splash {
  box-sizing: border-box;
  border-style: none;
  border: 1px solid #EBEBEB;
  border-radius: 2px;
  padding: 8px;
  border-color: rgb(235, 235, 235);
  width: 376px;
  height: 50px;
  font-size: 17px;
  color: rgb(72, 72, 72);
  padding-left: 15px;
  margin-bottom: 55px;
  cursor: pointer;
}

#remove-guest-splash, #add-guest-splash {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 10px;
  
  cursor: pointer;
}

#remove-guest-splash {
  margin-left: 125px;
  margin-right: 25px;
}

.remove-guest-light-splash {
  border: 1px solid #b7dadb;
  color: #b7dadb;
}

.remove-guest-outline-splash {
  border: 1px solid rgb(0, 132, 137);
  color: rgb(0, 132, 137);
}

#add-guest-splash {
  margin-left: 25px;
  border: 1px solid rgb(0, 132, 137);
  color: rgb(0, 132, 137);
}