.landing-page {
    background-image: image-url('background.jpg');
    min-height: 978px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    vertical-align: bottom;
}